<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="eu.loopit.f2011"
      android:versionCode="8"
      android:versionName="1.6.0">
    <application android:icon="@drawable/trophy_icon" android:label="@string/app_name" android:name=".F2011Application">
        <activity android:name=".welcome.WelcomeActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait"
                  android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    	<activity android:name=".Preferences" android:label="@string/settings_title" android:screenOrientation="portrait"/>
    	<activity android:name=".GridActivity" android:theme="@android:style/Theme.NoTitleBar"  android:screenOrientation="portrait"/>
    	<activity android:name=".FastestDriverActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
    	<activity android:name=".PodiumActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
    	<activity android:name=".SelectedDriverActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
    	<activity android:name=".FirstCrashActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
    	<activity android:name=".PolePositionActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
    	<activity android:name=".WbcPlayerActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
    	<activity android:name=".BidPlayerActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"/>
	</application>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-sdk android:minSdkVersion="8" />
</manifest> 